:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
}
* {
  margin: 0px;
  border: 0px;
  font-size: 18px;
}

body {
  width: auto;
  font-family: "Kumbh Sans", sans-serif;
}

.card-container {
  background: url(./images/bg-pattern-bottom.svg);
  background-color: var(--dark-cyan);
  display: flex;
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header {
  background: url(./images/bg-pattern-card.svg);
  height: 120px;
  width: 30%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  width: 30%;
}

.profile {
  position: relative;
  bottom: 20%;
}

.content h1 {
  margin-bottom: 0.5rem;
}

.age {
  font-weight: 100;
  color: gray;
}

.content p {
  color: gray;
}

img {
  border-radius: 100%;
  border: 5px solid white;
  position: relative;
  top: -40%;
}

.stats {
  display: flex;
  justify-content: space-between;
  width: 30%;
  background-color: white;
  padding: 32px 0;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top: 1px solid lightgrey;
  text-align: center;
}

.stats h6,
.stats p {
  padding: 0 12px;
}
.stats h6 {
  font-size: 1.2rem;
}

.stats p {
  font-size: 0.8rem;
  color: grey;
}

@media (max-width: 486px) {
  .header,
  .content,
  .stats {
    width: 50%;
  }
  .stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .stat-1,
  .stat-2,
  .stat-3 {
    padding: .3rem 0;
  }
}
